<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>636637454218-3kgbcq3lcvqh3vdcqhubq56gg2pr1cce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636637454218-3kgbcq3lcvqh3vdcqhubq56gg2pr1cce</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPKfY_lfqzUxhBYjG1gnna-a8f03r22Q</string>
	<key>GCM_SENDER_ID</key>
	<string>636637454218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.endo.shoana3</string>
	<key>PROJECT_ID</key>
	<string>shoana-6ac0e</string>
	<key>STORAGE_BUCKET</key>
	<string>shoana-6ac0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:636637454218:ios:9dc5b86661a7bc04</string>
	<key>DATABASE_URL</key>
	<string>https://shoana-6ac0e.firebaseio.com</string>
</dict>
</plist>